In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# OBTENCION DE LA PUNTUACION DE IPC

df_7 = pd.read_csv("poblacion_activa.csv")
df_7

   Comunidades y Ciudades Autónomas  Porcentaje poblacion activa 2023
0              Madrid, Comunidad de                             79.07
1                         Rioja, La                             78.07
2                            Aragón                             77.63
3                          Cataluña                             77.48
4       Navarra, Comunidad Foral de                             75.76
5              Comunitat Valenciana                             75.75
6                        País Vasco                             75.74
7                   Castilla y León                             75.29
8                    Balears, Illes                             75.26
9              Castilla - La Mancha                             75.14
10                          Galicia                             73.74
11                         Canarias                             73.69
12                      Extremadura                             73.62
13                Murcia, Región de                             73.07
14                        Cantabria                             72.66
15                            Ceuta                             71.77
16                        Andalucía                             71.65
17          Asturias, Principado de                             70.02
18                          Melilla                             66.71

In [3]:
df_7_indice = df_7.drop(columns='Porcentaje poblacion activa 2023')
df_7_indice = df_7_indice.iloc[::-1].reset_index(drop=True)
df_7_indice.index = range(1, 20)
df_7_indice['Puntuacion_poblacion_activa'] = df_7_indice.index
df_7_indice.index = range(1, 20)

In [5]:
df_7_indice.to_csv('puntuacion_poblacion_activa.csv', index=False)

In [6]:
# OBTENCION DE LA PUNTUACION DE PORCENTAJE TELETRABAJO

df_8 = pd.read_csv("porcentaje_teletrabajo.csv")
df_8

   Comunidades y Ciudades Autónomas  Porcentaje de teletrabajadores
0              Madrid, Comunidad de                            19.9
1                          Cataluña                            13.4
2              Comunitat Valenciana                             7.7
3                            Aragón                             7.3
4                        País Vasco                             7.2
5                          Canarias                             7.0
6                         Rioja, La                             6.4
7                         Andalucía                             6.2
8       Navarra, Comunidad Foral de                             6.1
9           Asturias, Principado de                             5.7
10                  Castilla y León                             5.6
11                      Extremadura                             5.6
12                Murcia, Región de                             5.5
13                          Galicia                             5.4
14               Castilla-La Mancha                             4.5
15                   Balears, Illes                             4.5
16                        Cantabria                             3.5
17                          Melilla                             3.5
18                            Ceuta                             2.3

In [7]:
df_8_indice = df_8.drop(columns='Porcentaje de teletrabajadores')
df_8_indice = df_8_indice.iloc[::-1].reset_index(drop=True)
df_8_indice.index = range(1, 20)
df_8_indice['Puntuacion_teletrabajadores'] = df_8_indice.index
df_8_indice.index = range(1, 20)

In [9]:
df_8_indice.to_csv('puntuacion_teletrabajo.csv', index=False)

In [12]:
# OBTENCION DE LA PUNTUACION DE PORCENTAJE TELETRABAJO

df_9 = pd.read_csv("renta_hogar.csv")
df_9

   Comunidades y Ciudades Autónomas  Renta media por hogar
0              Madrid, Comunidad de                 39.856
1       Navarra, Comunidad Foral de                 39.661
2                        País Vasco                 38.712
3                           Melilla                 38.388
4                             Ceuta                 36.662
5                          Cataluña                 36.163
6                            Aragón                 33.181
7                         Cantabria                 32.582
8                    Balears, Illes                 32.404
9                         Rioja, La                 31.874
10                  Castilla y León                 30.212
11          Asturias, Principado de                 30.187
12                          Galicia                 29.616
13             Comunitat Valenciana                 29.026
14                Murcia, Región de                 28.741
15             Castilla - La Mancha                 27.864
16                         Canarias                 27.568
17                        Andalucía                 27.446
18                      Extremadura                 24.326

In [13]:
df_9_indice = df_9.drop(columns='Renta media por hogar')
df_9_indice = df_9_indice.iloc[::-1].reset_index(drop=True)
df_9_indice.index = range(1, 20)
df_9_indice['Puntuacion_renta_media'] = df_9_indice.index
df_9_indice.index = range(1, 20)

In [17]:
df_9_indice.to_csv('puntuacion_renta_media.csv',index=False)

In [18]:
# OBTENCION DE LA PUNTUACION DE PORCENTAJE TASA POBREZA

df_10 = pd.read_csv("tasa_pobreza.csv")
df_10

   Comunidades y Ciudades Autónomas  Tasa riesgo
0                             Ceuta         34.8
1                           Melilla         34.5
2                       Extremadura         30.0
3                          Canarias         29.4
4                         Andalucía         29.1
5                 Murcia, Región de         26.3
6              Castilla - La Mancha         26.1
7              Comunitat Valenciana         22.3
8           Asturias, Principado de         20.1
9                           Galicia         18.0
10                  Castilla y León         17.8
11                   Balears, Illes         16.9
12                        Rioja, La         16.6
13                           Aragón         15.0
14                        Cantabria         14.8
15             Madrid, Comunidad de         14.8
16                         Cataluña         14.5
17                       País Vasco         12.2
18      Navarra, Comunidad Foral de         10.9

In [23]:
df_10_indice = df_10.drop(columns='Tasa riesgo')

df_10_indice.index = range(1, 20)
df_10_indice['Puntuacion_riesgo_pobreza'] = df_10_indice.index
df_10_indice.index = range(1, 20)

In [25]:
df_10_indice.to_csv('puntuacion_riesgo_pobreza.csv', index=False)

In [ ]:
#OBTENCION DE LA PUNTUACION DE TAXIS Y VTC

In [26]:
df_11 = pd.read_csv('taxis_vtc_comunidad.csv')
df_11

   Comunidades y Ciudades Autónomas  Taxis   VTC
0              Madrid, Comunidad de  15209  8866
1                          Cataluña  12147  2977
2                         Andalucía   8770  3594
3              Comunitat Valenciana   4699   789
4                           Galicia   3450   201
5                    Balears, Illes   2529   744
6                   Castilla y León   2252   269
7                          Canarias   2218     0
8                            Aragón   2087   197
9                        País Vasco   2029   163
10          Asturias, Principado de   1375   122
11             Castilla - La Mancha   1083   207
12                      Extremadura    857   130
13                Murcia, Región de    748    95
14                        Cantabria    455   115
15      Navarra, Comunidad Foral de    425    97
16                        Rioja, La    154    49
17                          Melilla      0     2
18                            Ceuta      0     0

In [27]:
df_11_indice = df_11.drop(columns=['Taxis','VTC'])
df_11_indice = df_11_indice.iloc[::-1].reset_index(drop=True)
df_11_indice.index = range(1, 20)
df_11_indice['Puntuacion_Taxis'] = df_11_indice.index
df_11_indice.index = range(1, 20)

In [29]:
df_11_indice.to_csv('Puntuacion_taxis.csv', index=False)